aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
frozenlist==1.7.0
fsspec==2025.9.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.6.4
numpy==2.3.3
propcache==0.3.2
psutil==7.1.0
pyparsing==3.2.4
requests==2.32.5
torch-geometric==2.6.1
tqdm==4.67.1
urllib3==2.5.0
yarl==1.20.1
